In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
#from sklearn.preprocessing import Standardizer
from sklearn.preprocessing import Normalizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [9]:
FilePath ='C:/Users/User/Documents/WORK SPACE/'
FileName = 'Churn_Train.csv'

In [10]:
df = pd.read_csv(FilePath + FileName)

In [11]:
df.head()

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,NV,125.0,area_code_510,no,no,0.0,2013.4,99.0,28.66,1107.6,107.0,14.93,243.3,92,10.95,10.9,7.0,2.94,0.0,no
1,HI,108.0,area_code_415,no,no,0.0,291.6,99.0,49.57,221.1,93.0,18.79,229.2,110,10.31,14.0,9.0,3.78,2.0,yes
2,DC,82.0,area_code_415,no,no,0.0,300.3,109.0,51.05,181.0,100.0,15.39,270.1,73,12.15,11.7,4.0,3.16,0.0,yes
3,HI,NaN,area_code_408,no,yes,30.0,110.3,71.0,18.75,182.4,108.0,15.50,183.8,88,8.27,11.0,8.0,2.97,2.0,no
4,OH,83.0,area_code_415,no,no,0.0,337.4,120.0,57.36,227.4,116.0,19.33,153.9,114,6.93,15.8,7.0,4.27,0.0,yes

In [12]:
df.describe()

,account_length,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
count,2832.000000,3133.000000,3133.000000,3133.000000,3133.000000,3032.000000,3133.000000,3133.000000,3133.000000,3333.000000,3133.000000,3133.000000,3032.000000,3133.000000,3133.000000
mean,97.321328,7.332589,418.947048,100.331631,30.628455,324.258872,100.128631,17.083936,201.198883,100.107711,9.054028,10.226843,4.470317,2.761752,1.561443
std,47.874422,13.756056,626.315020,20.039364,9.275752,320.129372,19.899854,4.295472,50.430664,19.568609,2.269421,2.805291,2.455364,0.757396,1.315666
min,-209.000000,-10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,72.000000,0.000000,149.300000,87.000000,24.450000,170.500000,87.000000,14.140000,167.300000,87.000000,7.530000,8.500000,3.000000,2.300000,1.000000
50%,100.000000,0.000000,190.500000,101.000000,30.650000,209.900000,100.000000,17.090000,201.400000,100.000000,9.060000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,16.000000,237.800000,114.000000,36.840000,257.550000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,51.000000,2185.100000,165.000000,59.640000,1244.200000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          3333 non-null   object
 1   account_length                 2832 non-null   float64
 2   area_code                      3333 non-null   object
 3   international_plan             3333 non-null   object
 4   voice_mail_plan                3333 non-null   object
 5   number_vmail_messages          3133 non-null   float64
 6   total_day_minutes              3133 non-null   float64
 7   total_day_calls                3133 non-null   float64
 8   total_day_charge               3133 non-null   float64
 9   total_eve_minutes              3032 non-null   float64
 10  total_eve_calls                3133 non-null   float64
 11  total_eve_charge               3133 non-null   float64
 12  total_night_minutes            3133 non-null   float64
 13  total_night_calls              3333 non-null   int64
 14  total_night_charge             3133 non-null   float64
 15  total_intl_minutes             3133 non-null   float64
 16  total_intl_calls               3032 non-null   float64
 17  total_intl_charge              3133 non-null   float64
 18  number_customer_service_calls  3133 non-null   float64
 19  churn                          3333 non-null   object
dtypes: float64(14), int64(1), object(5)
memory usage: 520.9+ KB

In [15]:
df.isna().sum()

state                              0
account_length                   501
area_code                          0
international_plan                 0
voice_mail_plan                    0
number_vmail_messages            200
total_day_minutes                200
total_day_calls                  200
total_day_charge                 200
total_eve_minutes                301
total_eve_calls                  200
total_eve_charge                 200
total_night_minutes              200
total_night_calls                  0
total_night_charge               200
total_intl_minutes               200
total_intl_calls                 301
total_intl_charge                200
number_customer_service_calls    200
churn                              0
dtype: int64

In [20]:
df.fillna(method = 'pad', inplace = True)
df.fillna(method = 'bfill', inplace = True)

In [21]:
df.isna().sum()

state                            0
account_length                   0
area_code                        0
international_plan               0
voice_mail_plan                  0
number_vmail_messages            0
total_day_minutes                0
total_day_calls                  0
total_day_charge                 0
total_eve_minutes                0
total_eve_calls                  0
total_eve_charge                 0
total_night_minutes              0
total_night_calls                0
total_night_charge               0
total_intl_minutes               0
total_intl_calls                 0
total_intl_charge                0
number_customer_service_calls    0
churn                            0
dtype: int64